<% include ./partials/header %>


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
<div class="container">
    <h1> Vertragsübersicht </h1>
    <table id="contractTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Vertragsname/-nummer</th>
                <th>Kontaktperson</th>
                <th>Zustaendige Person</th>
                <th>Kategorie</th>
                <th>Vertragsende</th>
                <th>Erstellt am</th>
                <th>Erstellt durch</th>
                <th>Bearbeiten</th>
            </tr>
        </thead>
        <% contracts.forEach((contract) => { %>
            <tr>
                <td><a href="/contracts/<%= contract._id %>"><%=contract.title%></a></td>
                <td><%=contract.contactPerson%></td>
                <td><%=contract.inCharge%></td>
                <td><%=contract.category%></td>
                <td><%=contract.expiration.toDateString()%></td>
                <td><%=contract.created.toDateString()%></td>
                <td><%=contract.createdBy.username%></td>
                <td><a href="/contracts/<%= contract._id %>" class="btn btn-primary">Bearbeiten</a></td>
            </tr>
        <% }); %>
    </table>
    <a class="btn btn-primary" href="/contracts/new">Vertrag hinzufügen</a>
</div>

<script>
    $(document).ready(function() {
    $('#contractTable').DataTable({
        "aaSorting": [[ 3, "desc" ]], // sort by third column descending
    });
} );
</script>

<% include ./partials/footer %>
