<% include ./partials/header %>

<div class="container">
    <div class="row">
        <p class="lead">
            JustBecause: <%=contract.title%>
        </p>
        <div class="col-md-9">
            <div class="caption-full">
                <p>Erstellt durch: <em><%=contract.createdBy.username%></em></p>
                <p>Kontaktperson: <%=contract.contactPerson%></p>
                <p>Kategorie: <%=contract.category%></p>
                <p>Zuständige Person: <%=contract.inCharge%></p>
                <p>Vertragsende: <%=contract.expiration.toDateString()%></p>
                <p>Erinnerungsdatum: <%=contract.reminderDate.toDateString()%></p>
                <p>Erstellt am: <%=contract.created.toDateString()%></p>
            </div>
        <a class="btn btn-warning" href="/contracts/<%=contract._id%>/edit">Bearbeiten</a>
        <form id="delete" action="/contracts/<%=contract._id%>?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-danger" value="Löschen">
        </form>
        </div>
    </div>
    <br/>
    <div class="well">
        <div class="text-right">
            <a class="btn btn-success" href="/contracts/<%= contract._id %>/comments/new">Add new comment</a>
        </div>
        <hr>
        <% contract.comments.forEach((comment) => {%>
            <div class="row">
                <div class="col-md-12">
                    <strong><%= comment.author.username %></strong>
                    <span class="pull-right">10 days ago</span>
                    <p><%= comment.text %></p>
                    <% if(currentUser && comment.author.id.equals(currentUser._id)) {%>
                        <a class="btn btn-xs btn-warning" href="/contracts/<%=contract._id%>/comments/<%=comment._id%>/edit">Edit</a>
                        <form id="delete" action="/contracts/<%=contract._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                        </form>
                    <%}%>
                </div>
            </div>
        <%})%>
    </div>
</div>
<% include ./partials/footer %>
